body {
    width: 100%;
    background-color: #000000;
}
.container{
    margin-left: 37%;
    display: inline-block;
    color: white;
    font-size: 35px;
    position: relative;
    -webkit-animation-name: head;
            animation-name: head;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.container:hover{
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f43b47), to(#453a94));
    background-image: -o-linear-gradient(bottom, #f43b47 0%, #453a94 100%);
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    border-radius: 10px;
}
@-webkit-keyframes head {
    0%{top: -60px;}
    100%{top: 80px;}
}
@keyframes head {
    0%{top: -60px;}
    100%{top: 80px;}
}
.loading p{
    color: white;
    margin-top: 120px;
    font-size: 30px;
    margin-top: 120px;
    text-align: center;
    position: relative;
    -webkit-animation-name: loading;
            animation-name: loading;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@-webkit-keyframes loading {
    0%{left: -1000px;}
    100%{left: 0;}
}
@keyframes loading {
    0%{left: -1000px;}
    100%{left: 0;}
}
.spinner {
    width: 50px;
    height: 50px;
    margin-top: 110px;
    margin-left: 50px;
    position: relative;
}
.spinner div {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    -webkit-animation: spinnerOne 1.2s linear infinite;
            animation: spinnerOne 1.2s linear infinite;
}
@-webkit-keyframes spinnerOne {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); border-width: 10px; }
    50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); border-width: 1px; }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); border-width: 10px; }
}
@keyframes spinnerOne {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); border-width: 10px; }
    50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); border-width: 1px; }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); border-width: 10px; }
}
.loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.cat {
    margin: 60px auto;
	position: relative;
	height: 170px;
	width: calc(170px * 1.13);
	background-color: #000000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ear {
	height: 50%;
	width: 25%;
	background: #ffffff;
    border-radius: 30% 70% 0% 0% / 100% 100% 0% 0%;
}
.leftear {
	-webkit-transform: rotate(-15deg);
	    -ms-transform: rotate(-15deg);
	        transform: rotate(-15deg);
	position: absolute;
	top: -20%;
	left: -7%;
}
.rightear {
	position: absolute;
	top: -20%;
	right: -7%;
	-webkit-transform: rotate(15deg);
	    -ms-transform: rotate(15deg);
	        transform: rotate(15deg);
}
.catface {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000000;
	border-radius: 50%;	
}
.eye {
	height: 33%;
	width: 33%;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	background-color: #ffffff;
}
.lefteye {
	position: absolute;
	top: 35%;
	left: 0px;
}
.righteye {
	position: absolute;
	top: 35%;
	right: 0px;
}
.leyeiris {
	position: absolute;
	top: 25%;
	left: 50%;
	height: 50%;
	width: 20%;
	border-radius: 50%;
	background-color: #000000;
}
.eyepupil {
	position: absolute;
	top: 40%;
	left: 60%;
	height: 30%;
	width: 35%;
	border-radius: 50%;
	background-color: #ffffff;
}
.reyeiris {
	position: absolute;
	top: 25%;
	right: 50%;
	height: 50%;
	width: 20%;
	border-radius: 50%;
	background-color: #000000;
}
.reyepupil {
	position: absolute;
	top: 40%;
	right: 60%;
	height: 30%;
	width: 35%;
	border-radius: 50%;
	background-color: #ffffff;
}
.iris {
	-webkit-animation-name: lookaround;
	        animation-name: lookaround;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
@-webkit-keyframes lookaround {
	0% { -webkit-transform: translate(0); transform: translate(0) }
	5% { -webkit-transform: translate(50%, -25%); transform: translate(50%, -25%) }
	10% { -webkit-transform: translate(50%, -25%); transform: translate(50%, -25%) }
	15% { -webkit-transform: translate(-100%, -25%); transform: translate(-100%, -25%) }
	20% { -webkit-transform: translate(-100%, -25%); transform: translate(-100%, -25%) }
	25% { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
}
@keyframes lookaround {
	0% { -webkit-transform: translate(0); transform: translate(0) }
	5% { -webkit-transform: translate(50%, -25%); transform: translate(50%, -25%) }
	10% { -webkit-transform: translate(50%, -25%); transform: translate(50%, -25%) }
	15% { -webkit-transform: translate(-100%, -25%); transform: translate(-100%, -25%) }
	20% { -webkit-transform: translate(-100%, -25%); transform: translate(-100%, -25%) }
	25% { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
	100% { -webkit-transform: translate(0, 0); transform: translate(0, 0) }
}
.nose {
	height: 20%;
	width: 35%;
	border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
	background-color: #ffffff;	
	position: absolute;
    top: 80%;
	right: 134%;
}